<div class="head-page" *ngIf = "identity">
    <h1>{{title}}</h1>
    <a [routerLink] = "['/artist-add']" class="btn btn-default" *ngIf ="identity && identity.role == 'ROLE_ADMIN'"> Añadir Album</a>
    <!-- <ul class="pagination pull-right">
      <li><a [routerLink] = "['/albums', prev_page]">&laquo;</a></li>
      <li><a [routerLink] = "['/albums', next_page]">&raquo;</a></li>
    </ul> -->
    <!-- Poner un biscador con angular -->
</div>
<div class="clearfix"></div>
<div id="galley-albums" *ngIf="albums && albums !== null">
  <ul class="album-list">
    <li *ngFor="let album of albums" class="col-lg-4 album-item">
      <a [routerLink] = "['/album-detail', album._id]">
        <div class="album-image" [ngStyle]="{'background-image': 'url(' + url + 'get-image-album/'+ album.image + ')'}"></div>
      </a>
      <div class="album-name">
        <p><a [routerLink] = "['/album-detail', album._id]">{{album.title}}</a></p>
        <p><a [routerLink] = "['/artist-detail', album.artist._id]">{{album.artist.name}}</a></p>
        <div class="buttons" *ngIf = "identity.role == 'ROLE_ADMIN'">
          <a [routerLink] = "['/album-edit', album._id]" class="btn btn-sm btn-warning">Editar</a>
          <a (click)="onDeleteConfirm(album._id)" class="btn btn-sm btn-danger">Eliminar</a>
        </div>
      </div>
      <div class="sure" *ngIf="confirmado == album._id">
        <a (click)="onDeleteAlbum(album._id)" class="btn btn-sm btn-danger">Eliminar</a>
        <a (click)="onCancelAlbum()" class="btn btn-sm btn-primary">Cancelar</a>
      </div>

    </li>
  </ul>
</div>
