<a [routerLink] = "['/album-detail', album._id]">
  <div class="album-image" [ngStyle]="{'background-image': 'url(' + url + 'get-image-album/'+ album.image + ')'}"></div>
</a>
<div class="album-name">
  <p><a [routerLink] = "['/album-detail', album._id]">{{album.title}}</a></p>
  <p><a [routerLink] = "['/artist-detail', album.artist]">{{album.artist.name}}</a></p>
  <div class="buttons" *ngIf = "identity.role == 'ROLE_ADMIN' && editorMode == true">
    <a [routerLink] = "['/album-edit', album._id]" class="btn btn-sm btn-warning">Editar</a>
    <a (click)="onDeleteConfirm(album._id)" class="btn btn-sm btn-danger">Eliminar</a>
  </div>
</div>
<div class="sure" *ngIf="confirmado == album._id">
  <a (click)="onDeleteAlbum(album._id)" class="btn btn-sm btn-danger">Eliminar</a>
  <a (click)="onCancelAlbum()" class="btn btn-sm btn-primary">Cancelar</a>
</div>
