<div class="head-page" *ngIf = "identity">
    <h1>{{title}}</h1>
    <a [routerLink] = "['/artist-add']" class="btn btn-default" *ngIf ="identity && identity.role == 'ROLE_ADMIN'"> Añadir Album</a>
    <!-- <ul class="pagination pull-right">
      <li><a [routerLink] = "['/albums', prev_page]">&laquo;</a></li>
      <li><a [routerLink] = "['/albums', next_page]">&raquo;</a></li>
    </ul> -->
    <!-- Poner un biscador con angular -->
</div>
<div class="clearfix"></div>
<div id="galley-albums" *ngIf="albums && albums !== null">
  <ul class="album-list">
    <li *ngFor="let album of albums" class="col-lg-4 album-item">
      <album [album]=album></album>
    </li>
  </ul>
</div>
