<div class="head-page" *ngIf = "identity">
    <h1>{{title}}</h1>
    <a [routerLink] = "['/artist-add']" class="btn btn-default" *ngIf ="identity && identity.role == 'ROLE_ADMIN'"> Añadir Artista</a>
    <ul class="pagination pull-right">
      <li><a [routerLink] = "['/artists', prev_page]">&laquo;</a></li>
      <li><a [routerLink] = "['/artists', next_page]">&raquo;</a></li>
    </ul>
</div>
<div class="clearfix"></div>
<ul class="artists-list" *ngIf = "identity">
  <li *ngFor = "let artist of artists" class="col-lg-3 col-md-3 artist-item">
    <a [routerLink] = "['/artist-detail', artist._id]">
      <div class="artist-image" [ngStyle]="{'background-image': 'url(' + url +'get-image-artist/' + artist.image + ')'}"></div>
    </a>
    <div class="artist-name">
      <a [routerLink] = "['/artist-detail', artist._id]">{{artist.name}}</a>
      <div class="buttons" *ngIf = "identity.role == 'ROLE_ADMIN'">
        <a [routerLink] = "['/artist-edit', artist._id]" class="btn btn-sm btn-warning">Editar</a>
        <a (click)="onDeleteConfirm(artist._id)" class="btn btn-sm btn-danger">Eliminar</a>
      </div>
    </div>
    <div class="sure" *ngIf="confirmado == artist._id">
      <a (click)="onDeleteArtist(artist._id)" class="btn btn-sm btn-danger">Eliminar</a>
      <a (click)="onCancelArtist()" class="btn btn-sm btn-primary">Cancelar</a>
    </div>
  </li>
</ul>
