<div class="col-lg-6 col-md-6" *ngIf = "identity && identity.role == 'ROLE_ADMIN'">
  <h1>{{title}}</h1>

  <div *ngIf="alertMessage">
    <div class="alert alert-info alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong></strong>{{alertMessage}}
    </div>
  </div>

  <form #formArtist="ngForm" (ngSubmit)="onSubmit()">
    <p>
      <label>Nombre</label>
      <input type="text" class="form-control" #name="ngModel" name="name" [(ngModel)]="artist.name" required="">
      <span *ngIf = "!name.valid && name.touched">El nombre es obligatorio</span>
    </p>
    <p>
      <label>Descripción</label>
      <textarea class="form-control" #description="ngModel" name="description" [(ngModel)]="artist.description" required=""></textarea>
      <span *ngIf = "!description.valid && description.touched">El nombre es obligatorio</span>
    </p>

    <div *ngIf="isEdit">
      <div class="artist_image_for_edit" *ngIf = "artist.image && artist.image != 'null'">
        <img src="{{url + 'get-image-artist/' + artist.image}}" width="100">
      </div>

      <p>
        <label>Imagen del artista:</label>
        <input type="file" placeholder="Subir image" (change) = "fileChangeEvent($event)">
      </p>
    </div>
    <input type="submit" class="btn btn-primary" value="{{title}}" [disabled]="!formArtist.form.valid"/>
  </form>
</div>
<div class="col-lg-6 col-md-6" *ngIf = "!identity || identity.role != 'ROLE_ADMIN'">
  <h1>Error</h1>
  <p>Tu usuario no tiene acceso a esta opción</p>
</div>
