<div class="head-page" *ngIf = "identity">
    <h1>{{title}}</h1>
    <a [routerLink] = "['/artist-add']" class="btn btn-default" *ngIf ="identity && identity.role == 'ROLE_ADMIN'"> Añadir Artista</a>
    <ul class="pagination pull-right">
      <li><a [routerLink] = "['/artists', prev_page]">&laquo;</a></li>
      <li><a [routerLink] = "['/artists', next_page]">&raquo;</a></li>
    </ul>
</div>
<div class="clearfix"></div>
<ul class="artists-list" *ngIf ="identity && identity.role == 'ROLE_ADMIN'">
  <li *ngFor="let artist of artists" class="col-lg-3 col-md-3 artist-item">
    <artist [artist]=artist (reloadParent)="reload($event)"></artist>
  </li>
</ul>
