<div class='player'>
  <div class='album-image'>
    <span *ngIf='song.album'>
      <img id='play-image-album' src="{{url + 'get-image-album/' + song.album.image}}">
    </span>
    <span *ngIf='!song.album'>
    <img id='play-image-album' src='assets/images/default.png'>
    </span>
  </div>
  <div class="audio-file">
    <span id="play-song-title">
      {{song.name}}
    </span>
    |
    <span id="play-song-artist">
      <span *ngIf='song.artist'>
        {{song.album.artist.name}}
      </span>
    </span>
    <audio  id='player'>
      <source id='mp3-source' src="{{url + 'get-song-file/' + song.file }}" type="audio/mpeg">
      Tu navegador no es compatible
    </audio>
  </div>
  <div class="controls">
    <span class="prevSong glyphicon glyphicon-backward" id="pres" (click)="nextSong(song.album._id, song.number-2)"></span>
    <span *ngIf='!sound' class="playSong glyphicon glyphicon-play" id="play" (click)="playPause()"></span>
    <span *ngIf='sound' class="playSong glyphicon glyphicon-pause" id="play" (click)="playPause()"></span>
    <span class="nextSong glyphicon glyphicon-forward" id="next" (click)="nextSong(song.album._id, song.number)"></span>
  </div>
</div>
