<div class="col-xs-12" *ngIf ="identity">
  <div class="col-md-12">
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Canción, Álbum, Artista...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="search()">Buscar</button>
      </span>
    </div>
  </div>
  <div class="col-md-12" *ngIf="albums != null && albums.length > 0">
    <ul class="album-list">
      <h3 *ngIf="albums != null && albums">Albums</h3>
      <li *ngFor="let album of albums" class="col-lg-4 album-item">
        <album [album]=album (reloadParent)="reload($event)"></album>
      </li>
    </ul>
  </div>
  <div class="col-md-12" *ngIf="artists != null && artists.length > 0">
    <ul class="artists-list">
      <h3 *ngIf="artists != null && artists">Artistas</h3>
      <li *ngFor="let artist of artists" class="col-lg-3 col-md-3 artist-item">
        <artist [artist]=artist (reloadParent)="reload($event)"></artist>
      </li>
    </ul>
  </div>
</div>
